### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# sftp configuration file
sftp-config.json


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### WordPress ###
*.log
.htaccess
/local-config.php
/sql-dump-*.sql
/db-sync
content/themes/easier-english-bg-theme/php_errorlog
w3tc-wp-loader.php
content/aiowps_backups/
content/plugins/all-in-one-wp-security-and-firewall/logs/wp-security-log.txt
content/plugins/all-in-one-wp-security-and-firewall/logs/wp-security-log-cron-job.txt


### Bower ###
.bower-cache
.bower-registry
.bower-tmp


### Elixir ###
/deps
erl_crash.dump
*.ez


### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# PHP
php_errorlog
php.ini


# Ignore style/script map files
content/themes/easier-english-bg-theme/css/style.min.css.map
content/themes/easier-english-bg-theme/js/script.min.js.map

# Ignore css/style.css file, since we are using sass/style.scss
# but keep css/style.min.css and js/script.min.js because of the deploy script I am using
# and because of the restrictions of my hosting provider
content/themes/easier-english-bg-theme/css/style.css
content/themes/easier-english-bg-theme/css/style.css.map
content/themes/easier-english-bg-theme/css/text-to-speech.min.css.map
