#<files admin-ajax.php>
#order allow,deny
#allow from 127.0.0.1
#allow from 91.215.216.59
#</files>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^impossible-is-nothing/?$ /wp-login.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress


Redirect 301 /join/ http://join.easierenglish.bg
Redirect 301 /JoinUs/ http://easierenglish.bg

RewriteCond %{HTTP_HOST} ^easierenglish\.mgelektronika\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.easierenglish\.mgelektronika\.com$
RewriteRule ^/?$ "http\:\/\/easierenglish\.bg\/" [R=301,L]